:root {
   --primary-color: rgb(224, 12, 224);
   --secondary-color: rgb(40, 218, 40);
   --tertiary-color: rgb(180, 94, 109);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: var(--primary-color);
   font-family: URW Chancery L, Comic Sans MS, Comic Sans, cursive;
}

/* HEADER STYLE START */
header {
   background-color: var(--tertiary-color);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

header h1 {
   font-weight: bold;
   font-size: 36px;
   color: var(--secondary-color);
   margin: 0;
   text-shadow: 0 0 18px rgba(0, 0, 0.6);
}

header a {
   text-decoration: none;
   color: var(--secondary-color);
}

header nav {
   margin: 9px 0;
}

header nav ul {
   display: flex;
   flex-wrap: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
   padding: 12px 18px;
   font-weight: lighter;
   font-size: 1.6vw;
   text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

header nav ul li a:hover {
   background: var(--tertiary-color);
   color: var(--secondary-color);
   border-radius: 18px;
   text-shadow: none;
}
/* HEADER STYLE END */

/* HERO STYLE START */
.hero {
   position: static;
   text-align: center;
   color: var(--primary-color);
}

.hero-img {
   position: relative;
   object-fit: cover;
   width: 100%;
   height: 400px;
   z-index: -1;
}

.hero-text {
   position: absolute;
   top: 400px;
   right: 0px;
   margin: 9px;
}
/* HERO STYLE END */

/* ABOUT ME STYLE START */
.about-me {
   position: static;
   display: flex;
}
.about-me h2 {
   font-weight: bold;
   font-size: 40px;
   text-align: right;
   padding-right: 18px;
}
.me-text {
   font-size: 24px;
   padding-left: 30px;
   border-left: 6px solid red;
}
/* ABOUT ME STYLE END */

/* WORKS STYLE START */
.works {
   position: static;
   display: flex;
}
.works h2 {
   font-weight: bold;
   font-size: 40px;
   padding-top: 30px;
   padding-right: 18px;
}
.main-image {
   width: 100%;
   height: 400px;
   padding-left: 30px;
   border-left: 6px solid red;
}
.main-image:hover {

}
.main-image a {
   position: absolute;
   bottom: 9px;
   left: 18px;
   font-weight: bold;
   font-size: 32px;
}
.main-image a:hover {
   background: var(--tertiary-color);
   color: var(--secondary-color);
   border-radius: 18px;
   text-shadow: none;
}
.main-image h3 {
position: absolute;
bottom: 0px;
left: 0px;
font-size: 28px;
}
.secodary-images {
   display: relative;
   width: 600px;
   height: 350px;
   justify-content: space-between;
}
.secondary-images a {
   position: absolute;
   bottom: 9px;
   left: 18px;
   font-weight: bold;
   font-size: 32px;
}
.secondary-images a:hover {
   background: var(--tertiary-color);
   color: var(--secondary-color);
   border-radius: 18px;
   text-shadow: none;
}
.secondary-images h3 {
   position: absolute;
   bottom: 0px;
   left: 0px;
   font-size: 28px;
}
/* WORKS STYLE END */

/* FOOTER STYLE START */
.contact-me h2 {
   position: static;
}
.contact-me ul li a {
   display: flex;
   flex-wrap: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}
.contact-me ul li a:hover {
   background: var(--tertiary-color);
   color: var(--secondary-color);
   border-radius: 18px;
   text-shadow: none;
}
/* FOOTER STYLE END */
