:root {
   --primary-color: rgb(224, 12, 224);
   --secondary-color: rgb(40, 218, 40);
   --tertiary-color: rgb(180, 94, 109);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: var(--primary-color);
   font-family: URW Chancery L, Comic Sans MS, Comic Sans, cursive;
}

/* HEADER STYLE START */
header {
   background-color: var(--tertiary-color);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

header h1 {
   font-weight: bold;
   font-size: 36px;
   color: var(--secondary-color);
   margin: 0;
   text-shadow: 0 0 18px rgba(0, 0, 0.6);
}

header a {
   text-decoration: none;
   color: var(--secondary-color);
}

header nav {
   margin: 9px 0;
}

header nav ul {
   display: flex;
   flex-wrap: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
   padding: 12px 18px;
   font-weight: lighter;
   font-size: 1.6vw;
   text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

header nav ul li a:hover {
   background: var(--tertiary-color);
   color: var(--secondary-color);
   border-radius: 18px;
   text-shadow: none;
}
/* HEADER STYLE END */

/* HERO STYLE START */
.hero {
   position: relative;
   text-align: center;
   color: white;
}

.hero-img {
   object-fit: cover;
   max-width: 100%;
   height: 300px;
}

.hero-text {
   position: absolute;
   bottom: 9px;
   right: 18px;
}
/* HERO STYLE END */

/* ABOUT ME STYLE START */
.about-me {
   position: relative;
}
.about-me h2 {
   position: relative;
}
.me-text {
   position: relative;
}
/* ABOUT ME STYLE END */

/* WORKS STYLE START */
.works {
   position: relative;
   display: flex;
   flex-wrap: flex;
   justify-content: flex-start;
}
.works h2 {
   position: relative;
}
.main-image {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.main-image a {

}
.main-image a:hover {

}
.main-image h3 {

}
.secodary-images {
   position: relative;
   max-height: 100%;
   max-width: 200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.secondary-images a {

}
.secondary-images a:hover {

}
.secondary-images h3 {

}
/* WORKS STYLE END */

/* FOOTER STYLE START */
.contact-me {
   position: relative;
   display: flex;
   flex-wrap: flex;
   justify-content: flex-start;
}
.contact-me h2 {
   position: relative;
}
.contact-me ul li a {
   position: relative;
}
.contact-me ul li a:hover {

}
/* FOOTER STYLE END */
